<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../iron-ajax/iron-request.html">
<link rel="import" href="../../../iron-ajax/iron-ajax.html">
<link rel="import" href="../../../iron-pages/iron-pages.html">
<link rel="import" href="../../../paper-styles/paper-styles.html">
<link rel="import" href="../../../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../src/files/files.html">
<link rel="import" href="../designer-breadcrumb/designer-breadcrumb.html">
<link rel="import" href="../designer-document/designer-document.html">
<link rel="import" href="../designer-document-outline/designer-document-outline.html">
<link rel="import" href="../designer-element-palette/designer-element-palette.html">
<link rel="import" href="../designer-inspector/designer-inspector.html">
<link rel="import" href="../designer-mini-nav/designer-mini-nav.html">
<link rel="import" href="../designer-logic-editor/designer-logic-editor.html">
<link rel="import" href="../designer-stage/designer-stage.html">
<link rel="import" href="../designer-tree/designer-tree.html">
<link rel="import" href="../paper-tabs-vertical/paper-tabs-vertical.html">
<link rel="import" href="../paper-tabs-vertical/paper-tab-vertical.html">

<dom-module id="designer-app">

  <style>
    :root {
      --dark-primary-color: var(--paper-grey-900);
      --default-primary-color: var(--paper-grey-800);
      --light-primary-color: var(--paper-grey-500);
      --accent-color: var(--paper-yellow-a200);
      --primary-background-color: var(--paper-grey-200);
      --primary-text-color: rgba(255, 255, 255, var(--dark-primary-opacity));
      --secondary-text-color: rgba(255, 255, 255, var(--dark-secondary-opacity));
      --disabled-text-color: rgba(255, 255, 255, var(--dark-disabled-opacity));
      --divider-color: rgba(255, 255, 255, var(--dark-divider-opacity));
      color: var(--primary-text-color);
    }
    :host {
      background: #eee;
      box-sizing: border-box;
      display: flex;
    }
    designer-mini-nav {
      width: 64px;
      height: 100%;
      position: relative;
      z-index: 200;
      flex: 0 0 64px;
    }
    designer-mini-nav .small {
      background: var(--default-primary-color);
      text-align: center;
      height: 100%;
      flex: 0 0 64px;
    }
    designer-mini-nav .large {
      background: var(--dark-primary-color);
      color: var(--secondary-text-color);
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      font-size: 13px;
    }
    #nav-detail > header {
      height: 64px;
      border-bottom: solid 1px var(--divider-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
    designer-mini-nav .large iron-pages {
      padding: 8px;
    }
    #main {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
    }
    #editor {
      display: flex;
      flex-direction: row;
      flex: 1 1 0;
    }
    designer-logic-editor {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    paper-toolbar#toolbar {
      background: var(--default-primary-color);
      color: var(--primary-text-color);;
      flex: 0 0;
    }
    designer-breadcrumb {
      background: var(--default-primary-color);
      border-style: solid;
      border-color: var(--divider-color);
      border-width: 1px 0 1px 0;
      color: var(--primary-text-color);
      font-weight: normal;
    }
    #logo {
      width: 64px;
      height: 64px;
      padding: 6px;
      box-sizing: border-box;
    }
    img.d-logo {
      width: 48px;
      height: 48px;
    }
    nav {
      background: var(--dark-primary-color);
      color: var(--secondary-text-color);
      display: flex;
      flex: 0 0 200px;
      flex-direction: column;
      font-size: 13px;
      letter-spacing: .2px;
      line-height: 24px;
    }
    nav > #files > a {
      display: block;
      color: currentColor;
      text-decoration: none;
      padding: 8px;
    }
    nav > #files > a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    designer-inspector {
      background: var(--dark-primary-color);
      color: var(--secondary-text-color);
      display: flex;
      flex: 0 0 200px;
      flex-direction: column;
    }
    #doc-view {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    designer-stage {
      flex: 1;
    }
    #doc-view > designer-stage {
      flex: 1;
    }
    #html {
      flex: 0 0 400px;
      border-top: solid 1px var(--paper-grey-400);
      margin: 0;
      padding: 8px;
      overflow: auto;
      color: var(--paper-grey-800);
    }
    #frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
    }
    designer-file-tree {
      padding: 4px 16px;
    }
    paper-tabs-vertical {
      width: 64px;
      height: 100%;
    }
    paper-tab-vertical:first-of-type {
      border-top: solid 1px var(--divider-color);
    }
    paper-tab-vertical {
      height: 64px;
      box-sizing: border-box;
      border-bottom: solid 1px var(--divider-color);
    }
    paper-tab-vertical.iron-selected {
      color: var(--accent-color);
    }
  </style>

  <template>
    <iron-ajax url="/api/fileService/config" last-response="{{_fileServiceConfig}}" auto></iron-ajax>
    <designer-mini-nav>
      <div class="small">
        <div id="logo">
          <img class="d-logo" src="PolymerLabs.png">
        </div>
        <paper-tabs-vertical selected="{{_selectedNavTab}}" noink noslide nobar>
          <paper-tab-vertical>
            <iron-icon icon="icons:folder-open"></iron-icon>
          </paper-tab-vertical>
          <paper-tab-vertical>
            <iron-icon icon="editor:format-list-bulleted"></iron-icon>
          </paper-tab-vertical>
          <paper-tab-vertical>
            <iron-icon icon="icons:polymer"></iron-icon>
          </paper-tab-vertical>
        </paper-tabs-vertical>
      </div>
      <div id="nav-detail" class="large">
        <header>Polymer Designer</header>
        <iron-pages selected="{{_selectedNavTab}}">
          <div>
            <designer-tree
                controller="[[_fileTreeController]]"
                data="[[_rootFile]]"
                on-file-data-load="_onFileDataLoad">
            </designer-tree>
          </div>
          <div>
            <h3>Document</h3>
            <designer-document-outline
                root-node=[[documentInfo.domDocumentElement]]>
            </designer-document-outline>
            <h3>Elements</h3>
            <ul>
              <template is="dom-repeat" items="[[documentInfo.elements]]">
                <li>[[item.is]]</li>
              </template>
            </ul>
          </div>
          <designer-element-palette></designer-element-palette>
        </iron-pages>
      </div>
    </designer-mini-nav>
    <div id="main">
      <paper-toolbar id="toolbar" class="paper-header">
        <span>[[filename]]</span>
        <template is="dom-if" if="[[_showEditors]]">
          <paper-tabs selected="{{_selectedEditor}}" noink>
            <paper-tab>Storyboard</paper-tab>
            <paper-tab>Layout</paper-tab>
            <paper-tab>Logic</paper-tab>
          </paper-tabs>
        </template>
      </paper-toolbar>
      <designer-breadcrumb node="[[selection.node]]"></designer-breadcrumb>
      <iron-pages id="editor" selected="[[_selectedEditor]]">
        <div id="storyboard">
          Storyboard
        </div>
        <div id="editor">
          <div id="doc-view">
            <designer-document
                id="document"
                client-connection="[[clientConnection]]"
                client="{{client}}"
                document-info="{{documentInfo}}"
                selection="{{selection}}">
            </designer-document>
            <designer-stage
                id="stage"
                document-info="[[documentInfo]]"
                client="[[client]]"
                selection="[[selection]]"
                on-designer-command="_onDesignerCommand">
              <designer-frame
                  id="frame"
                  client-connection="{{clientConnection}}"
                  document-info="[[documentInfo]]">
              </designer-frame>
            </designer-stage>
            <pre id="html">[[textContent]]</pre>
          </div> <!-- doc-view -->
          <template is="dom-if" if="[[documentInfo]]">
            <designer-inspector
                document-info="[[documentInfo]]"
                selection="[[selection]]">
            </designer-inspector>
          </template>
        </div> <!-- editor -->
        <designer-logic-editor></designer-logic-editor>
      </iron-pages>
    </div> <!-- main -->
  </template>

</dom-module>

<script>

  define([
    'polymer-designer/dom-utils',
    'polymer-designer/files'],
      function(domUtils, files) {
    'use strict';

    Polymer({
      is: 'designer-app',

      properties: {

        client: {
          type: Object,
          notify: true,
        },

        clientConnection: {
          type: Object,
          notify: true,
        },

        selection: {
          type: Object,
        },

        documentInfo: {
          type: Object,
        },

        _selectedNavTab: {
          type: Number,
          value: 0,
        },

        _selectedEditor: {
          // 0: storyboard
          // 1: layout
          // 2: logic
          value: 1,
        },

        _fileServiceConfig: {
          type: Object
        }
      },

      observers: [
        '_initializeDesignerApp(_fileServiceConfig)',
      ],

      listeners: {
        'designer-select-element': '_onDesignerSelectElement',
      },

      _initializeDesignerApp: function(fileServiceConfig) {
        this._fileTreeController = new files.DemoFilesTreeControl(
          'http://localhost:' + fileServiceConfig.port + '/ls/',
          'http://localhost:' + fileServiceConfig.port + '/files/');
        this._fileTreeController.getInfo('polymer-designer-demos')
          .then(function(root) {
            this._rootFile = root;
          }.bind(this));
        var queryParams = domUtils.parseQueryString(window.location.search);
        this._showEditors = queryParams.get('show-editors');
      },

      _onDesignerSelectElement(event, detail) {
        this.$.document.setSourceId(detail.sourceId);
      },

      _onDesignerCommand(event, command) {
        // Event fired from designer-stage containing an edit command,
        // forward to the designer-document.
        this.$.document.executeCommand(command);
      },

      _onFileDataLoad(e) {
        this.$.document.setDocument(e.detail.file, e.detail.href);
      },

      _installPackageClick(e) {
        var request = document.createElement('iron-request');
        request.send({
          url: '/api/bowerInstall',
          method: "POST",
          headers: {},
          async: true,
        });
      },
    });

  });

</script>
