<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../polymer/polymer.html">

<link rel="import" href="designer-style-inspector.html">
<link rel="import" href="designer-property-inspector.html">

<!--
Inspects an element and provides tidbits about its properties, styles, and more.
-->
<dom-module id="designer-inspector">

  <style>
    :host {
      box-sizing: border-box;
      display: block;
      overflow: auto;
    }
  </style>

  <template>
    <designer-style-inspector
        source-document="[[sourceDocument]]"
        selection="[[selection]]">
    </designer-style-inspector>
    <designer-property-inspector
        selection="[[selection]]">
    </designer-property-inspector>
  </template>

</dom-module>

<script>
  Polymer({

    is: 'designer-inspector',

    properties: {

      /**
       * Metadata published by the stage about the currently selected element.
       */
      selection: Object,

      /** The document where edits should be made */
      documentInfo: Object,
    },

  });
</script>
