<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../src/commands/commands.html">
<link rel="import" href="../../src/css/css.html">
<link rel="import" href="../../src/dom-utils/dom-utils.html">
<link rel="import" href="../../src/dragging/dragging.html">
<link rel="import" href="../../src/protocol/document-client.html">
<link rel="import" href="../designer-selection/designer-selection.html">

<dom-module id="designer-stage">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
      position: relative;
    }
    #glass {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    designer-selection {
      position: absolute;
      z-index: 102;
    }
    #hover {
      position: absolute;
      /* z-index must be > 100 because iframes are z-index 100 o_O */
      z-index: 101;
      display: none;
      opacity: 0.5;
      background: #c66;
      box-sizing: border-box;
    }
    #hover.insert-above {
      border-top: solid 4px black;
    }
    #hover.insert-below {
      border-bottom: solid 4px black;
    }
    #text-edit-selection {
      /* border size must be keep in sync with the offset in enterTextMode */
      border: solid 4px blue;
      position: absolute;
      display: none;
      z-index: 103;
    }
    #caret {
      box-sizing: border-box;
      position: absolute;
      background: rgba(32, 32, 255, .4);
      z-index: 104;
      min-width: 4px;
    }
    #proxy {
      position: absolute;
      /* z-index must be > 100 because iframes are z-index 100 o_O */
      z-index: 101;
      display: none;
      opacity: 0.5;
      background: #f88;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    #proxy > * {
      width: 100% !important;
      height: 100% !important;
      display: block !important;
      margin: 0;
    }

  </style>

  <template>
    <designer-selection
        id="selection"
        on-click="_onSelectionClick"
        on-designer-selection-resize="_onSelectionResize"
        on-designer-selection-move="_onSelectionMove">
    </designer-selection>
    <div id="hover"></div>
    <div id="caret"></div>
    <div
        id="text-edit-selection"
        on-click="_textOnClick"
        on-keydown="_onKeydown"
        on-keypress="_onKeypress"
        tabindex="0">
    </div>
    <div id="proxy"></div>
    <div id="glass" on-mousedown="_onMouseDown" on-dblclick="_onDoubleClick"></div>
    <content></content>
  </template>

</dom-module>

<script>
  define([
        'polymer-designer/commands',
        'polymer-designer/designer-selection/ResizeDirection',
        'polymer-designer/dom-utils',
        'polymer-designer/dragging'],
      function(
        commands,
        ResizeDirection,
        domUtils,
        dragging) {

    'use strict';

    /**
     * `<designer-stage>` hanldes user input for WYSIWYG editing.
     */
    Polymer({
      is: 'designer-stage',

      properties: {

        selection: {
          type: Object,
          observer: '_selectionChanged',
        },

        /**
         * @type {{x: number, y: number}}
         */
        currentMousePosition: {
          type: Object,
          value: null,
        },

        insertPosition: {
          type: String,
          value: null,
        },

        hoverSourceId: {
          type: String,
          value: null,
        },

        /**
         * The current editing mode: 'text' or 'layout'.
         */
        _mode: {
          type: String,
          value: 'layout',
        },

        _mouseDown: {
          type: Boolean,
          value: false,
        },

        documentInfo: {
          type: Object,
          observer: '_documentInfoChanged',
        },

        client: {
          type: Object,
        },

        designerDropTarget: {
          type: Boolean,
          value: true,
        },

      },

      listeners: {
        'dblclick': '_onDoubleClick',
      },

      ready() {
        window.addEventListener('mouseup', this._onMouseUp.bind(this));
        this.addEventListener('designer-drag-move', this._onDragMove.bind(this));
        this._reset();
      },

      _documentInfoChanged() {
        this._reset();
      },

      _reset() {
        this.currentMousePosition = null;
        this.insertPosition = null;
        this.hoverSourceId = null;
        this._hideHover();
        this.$.selection.hide();
        this.mode = 'layout';
        this.$['text-edit-selection'].style.display = 'none';
        this.$.caret.style.display = 'none';
      },

      _updateSelectionBounds(bounds) {
        var style = this.$.selection.style;
        style.display = 'block';
        style.top = bounds.top + 'px';
        style.left = bounds.left + 'px';
        style.width = bounds.width + 'px';
        style.height = bounds.height + 'px';
      },

      _selectElement(elementInfo) {
        this.fire('designer-select-element', {
          // TODO(justinfagnani): this is a waste of the elementInfo, which
          // will be retreived again by designer-document, but it's a little
          // simpler to reason about elementInfo always coming from one place
          // at the moment.
          sourceId: elementInfo.sourceId,
        }, { bubbles: true, });
      },

      _selectionChanged() {
        if (this.selection == null) {
          this._reset();
          return;
        }
        if (this.selection.bounds) {
          this._updateSelectionBounds(this.selection.bounds);
          // Set the valid resize handles
          var position = this.selection.elementInfo.position;
          var display = this.selection.elementInfo.display;

          if (position === 'static' || position === 'relative') {
            if (display === 'block') {
              this.$.selection.directions = ResizeDirection.WIDTH_HEIGHT;
            } else if (display === 'inline') {
              this.$.selection.directions = [];
            }
            this.$.proxy.innerHTML = this.selection.elementInfo.proxy;
          } else if (position === 'absolute') {
            this.$.selection.directions = ResizeDirection.ALL_DIRECTIONS;
          } else {
            console.warn("can't handle position", data.position);
            this.$.selection.directions = [];
          }
        } else {
          this.$.selection.hide();
        }

      },

      _updateHoverElement(hoverInfo) {
        if (hoverInfo == null) {
          this._hideHover();
          return;
        }

        let elementInfo = hoverInfo.elementInfo;
        let bounds = hoverInfo.bounds;

        var hover = this.$.hover;
        var hoverStyle = hover.style;

        hoverStyle.display = 'block';
        hoverStyle.top = bounds.top + 'px';
        hoverStyle.left = bounds.left + 'px';
        hoverStyle.width = bounds.width + 'px';
        hoverStyle.height = bounds.height + 'px';

        if (this.selection &&
            this.selection.elementInfo.position == 'static') {
          var verticalMid = bounds.top + bounds.height / 2;
          var insertAbove = this.currentMousePosition.y < verticalMid;
          var insertBelow = this.currentMousePosition.y > verticalMid;

          if (insertAbove) {
            hover.classList.add('insert-above');
            this.insertPosition = commands.InsertPosition.before;
            this.hoverSourceId = elementInfo.sourceId;
          } else {
            hover.classList.remove('insert-above');
          }
          if (insertBelow) {
            hover.classList.add('insert-below');
            this.insertPosition = commands.InsertPosition.after;
            this.hoverSourceId = elementInfo.sourceId;
          } else {
            hover.classList.remove('insert-below');
          }
        }
      },

      _hideHover() {
        var hover = this.$.hover;
        var hoverStyle = hover.style;
        hoverStyle.display = 'none';
        this.insertPosition = null;
        this.hoverSourceId = null;
      },

      enterTextMode() {
        this._mode = 'text';
        this.$.selection.hide();
        let style = this.$['text-edit-selection'].style;
        let bounds = this.selection.bounds;
        style.display = 'block';
        // offset must be keep in sync with the border size in CSS
        style.top = (bounds.top - 4) + 'px';
        style.left = (bounds.left - 4) + 'px';
        style.width = bounds.width + 'px';
        style.height = bounds.height + 'px';
        // TODO(justinfagnani): set up caret initial state
        this.$.caret.style.display = 'block';
      },

      exitTextMode() {
        this._mode = 'layout';
        this.$.selection.show();
        let style = this.$['text-edit-selection'].style;
        style.display = 'none';
      },

      _onSelectionResize(e) {
        var bounds = e.detail.bounds;
        this.client.selectionBoundsChanged(bounds)
          .then(function(response) {
            // TODO(justinfagnani): fire event
            this._updateSelectionBounds(response.bounds);
          }.bind(this));
      },

      _onSelectionMove(e) {
        // TODO: store mouse position in the selection element?
        // Rationale: we're alredy storing the bounds state there
        var cursor = this.currentMousePosition = {
          x: e.detail.cursor.x - this.offsetLeft,
          y: e.detail.cursor.y - this.offsetTop,
        };
        var bounds = e.detail.bounds;
        this._updateDragProxy(bounds);
        this.client.selectionBoundsChanged(bounds, cursor)
            .then(function(response) {
              if (response.commands) {
                response.commands.forEach(function(command) {
                  this.fire('designer-command', command);
                }.bind(this));
              };
              if (response.elementInfo) {
                this._selectElement(response.elementInfo);
              }
              if (response.bounds) {
                this._updateSelectionBounds(response.bounds);
              }
              this._updateHoverElement(response.hover);
            }.bind(this));
      },

      _updateDragProxy(bounds) {
        var proxy = this.$.proxy;
        var proxyStyle = proxy.style;
        if (this.selection.elementInfo.position === 'static') {
          proxyStyle.display = 'block';
          proxyStyle.top = bounds.top + 'px';
          proxyStyle.left = bounds.left + 'px';
          proxyStyle.width = bounds.width + 'px';
          proxyStyle.height = bounds.height + 'px';
        } else {
          proxyStyle.display = 'none';
        }
      },

      _onMouseDown(e) {
        this._mouseDown = true;
        if (this._mode === 'text') {
          this.exitTextMode();
        }
        // TODO(justinfagnani): we might want to wait until we know we don't
        // have a double-click to initiate any action, but the redundant
        // selection that happens here sometimes is ok for now
        let position = domUtils.toLocalPosition(this, e.clientX, e.clientY);
        this.client.selectElementAtPoint(position.x, position.y)
            .then(function(response) {
              this._selectElement(response.elementInfo);
              // Start a drag after selection if the mouse is still down.
              if (this._mouseDown) {
                this.$.selection._boundsDown(e);
              }
            }.bind(this));
      },

      _onDragMove(e) {
        if (!this.client) {
          return;
        }
        let position = domUtils.toLocalPosition(this,
            e.detail.clientX, e.detail.clientY);
        this.client.getElementsAtPoint(position.x, position.y)
          .then(function(response) {
            let hoverElement = (response.length > 1) ? response[0] : null;
            this._updateHoverElement(hoverElement);
          }.bind(this));
      },

      _onMouseUp(e) {
        // TODO(justinfagnani): need a better way to differentiate between
        // operations that are completed with a mouse up. ie: dragging a
        // current element vs. dropping a new one.
        this._mouseDown = false;
        if (this.hoverSourceId != null && this.insertPosition != null) {
          this.fire('designer-command',
            commands.moveElement(
              this.selection.elementInfo.sourceId,
              this.hoverSourceId,
              this.insertPosition));
        }
        this._hideHover();
        this.insertPosition = null;
        this.$.proxy.style.display = 'none';
      },

      _onDoubleClick(e) {
        let position = domUtils.toLocalPosition(this, e.clientX, e.clientY);
        this.client.selectElementAtPoint(position.x, position.y)
          .then(function(response) {
            this._selectElement(response.elementInfo);
            this.enterTextMode();
          }.bind(this));
      },

      _onSelectionClick(e) {
        let position = domUtils.toLocalPosition(this, e.clientX, e.clientY);
        this.client.selectElementAtPoint(position.x, position.y)
          .then(function(response) {
            this._selectElement(response.elementInfo);
          }.bind(this));
      },

      _textOnClick(e) {
        e.stopPropagation();
        let position = domUtils.toLocalPosition(this, e.clientX, e.clientY);
        this.client.getCaretPosition(position.x, position.y)
          .then(function(response) {
            this._updateCaret(response.rect);
          }.bind(this));
      },

      _onKeydown(event) {
        let move;

        switch(event.keyCode) {
          // TODO(justinfagnani): consider using KeyboardEvent key names
          case 37: // left
            if (event.metaKey) {
              event.preventDefault();
              move = 'beginningOfLine';
            } else {
              move = 'left';
            }
            break;
          case 38: // up
            move = 'up';
            break;
          case 39: // right
            if (event.metaKey) {
              event.preventDefault();
              move = 'endOfLine';
            } else {
              move = 'right';
            }
            break;
          case 40: // down
            move = 'down';
            break;
          default:
            return;
        }

        this.client.moveCursor(move)
          .then(function(response) {
            this._updateCaret(response.rect);
          }.bind(this));
      },

      _updateCaret(bounds) {
        let caret = this.$.caret;
        caret.style.top = bounds.top + 'px';
        caret.style.left = bounds.left + 'px';
        caret.style.width = bounds.width + 'px';
        caret.style.height = bounds.height + 'px';
      },

      _onKeypress(event) {
        var keyCode = event.keyCode;
        var char = String.fromCharCode(keyCode);
        this.client.insertText(char)
          .then(function(response) {
            this._updateCaret(response.rect);
          }.bind(this));
      },

    });

  });
</script>
