<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../polymer/polymer.html">

<!--
  <designer-frame> manages the <iframe> that hosts the live edited document, and
  provides a [DocumentClient] for interacting with it.

  [frameDocument] must be set with the edited document DOM document with the
  script containing a [DocumentServer] already injected.
-->
<dom-module id="designer-frame">

  <style>
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
    }
  </style>

  <template></template>

</dom-module>

<script>
  define([
      'polymer-designer/protocol/DocumentClient',
      'polymer-designer/protocol/ClientConnection',
    ], function(
      DocumentClient,
      ClientConnection) {
    'use strict';

    Polymer({
      is: 'designer-frame',

      properties: {

        documentInfo: {
          type: Object,
          observer: '_documentInfoChanged',
        },

        clientConnection: {
          type: Object,
          notify: true,
        },

      },

      _documentInfoChanged() {
        if (this.clientConnection != null) {
          this.clientConnection.disconnect();
          this.clientConnection = null;
        }

        if (this._frame != null) {
          Polymer.dom(this.root).removeChild(this._frame);
        }
        this._frame = document.createElement('iframe');
        this._frame.setAttribute('sandbox', 'allow-scripts');
        Polymer.dom(this.root).appendChild(this._frame);
        Polymer.dom.flush();

        this._frame.addEventListener('load', function(event) {
          this.clientConnection =
              new ClientConnection(window, this._frame.contentWindow);
        }.bind(this));

        this._frame.src = getDocumentUrl(this.documentInfo.domDocument);
      },

    });

    /**
     * @returns {URL} a Blob URL for the given [doc].
     */
    function getDocumentUrl(doc) {
      let docBlob = new Blob([doc.documentElement.outerHTML],
          {type: 'text/html'});
      return URL.createObjectURL(docBlob);
    }

  });

</script>
