<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../core-asset/core-asset.html">
<link rel="import" href="../../src/commands/commands.html">
<link rel="import" href="../../src/hydrolysis/hydrolysis.html">
<link rel="import" href="../../src/protocol/document-client.html">
<link rel="import" href="../designer-frame/designer-frame.html">

<dom-module id="designer-document">

  <style>
    :host {
      display: block;
    }
    #frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
    }
  </style>

  <template></template>

  <core-asset id="frame-script" href="frame.js"></core-asset>

</dom-module>

<script>
  define([
        'polymer-designer/protocol/DocumentClient',
        'polymer-designer/protocol/ClientConnection',
        'polymer-designer/commands/DomCommandApplier',
        'polymer-designer/commands/ParsedHtmlCommandApplier',
        'polymer-designer/dom-utils',
        'polymer-designer/path',
        'hydrolysis',
        'dom5'],
      function(
        DocumentClient,
        ClientConnection,
        DomCommandApplier,
        ParsedHtmlCommandApplier,
        domUtils,
        pathLib,
        hydrolysis,
        dom5) {

    'use strict';

    const sourceIdAttribute = domUtils.sourceIdAttribute;

    Polymer({
      is: 'designer-document',

      properties: {

        client: {
          type: Object,
          notify: true,
        },

        clientConnection: {
          type: Object,
          notify: true,
          observer: '_clientConnectionChanged',
        },

        selection: {
          type: Object,
          notify: true,
        },

        documentInfo: {
          type: Object,
          notify: true,
        },

        _domNodes: {
          type: Map,
          value: function() {
            return new Map();
          },
        },

      },

      /**
       * Sets the current document and injects the message handler script.
       *
       * @param {string} content The document source.
       * @param {string} url The document location.
       * @returns {Promise<Document>} The modified document.
       */
      setDocument(content, url) {
        let analyzer = createAnalyzer(url);

        return Promise.all([
          analyzer.load(url),
          this._frameScriptAsset.load(),
        ]).then(function(results) {
          let analyzedDocument = results[0];
          let frameScript = results[1];

          Promise.all([
            analyzedDocument.htmlLoaded,
            analyzedDocument.metadataLoaded,
          ]).then(function(results) {
            let parsedDocument = results[0];
            let metadata = results[1];

            let domDocument = createDocument(content, frameScript, url);
            let domDocumentElement = domUtils.getDocumentElement(domDocument);

            let astDocument = parsedDocument.ast;
            let astDocumentElement = domUtils.getDocumentElement(astDocument);

            // assign sequential IDs to all elements in the document
            let nextId = 1;
            dom5.query(astDocument, function(node) {
              dom5.setAttribute(node, sourceIdAttribute, `${nextId++}`);
            });

            let elements = metadata.elements;
            let textContent = dom5.serialize(astDocument);

            let splitUrl = url.split('/');
            let filename = splitUrl[splitUrl.length - 1];

            this._domCommandApplier = new DomCommandApplier(domDocument);
            this._parsedCommandApplier =
                new ParsedHtmlCommandApplier(astDocument);

            // TODO(justinfagnani): cleanup
            //   - define a class and jscompiler type?
            //   - remove document element proeprties
            //   - add method to query element by sourceId
            //   - only include one public text document
            //   - don't include both elements and analyzer?
            this.documentInfo = {
              domDocument: domDocument,
              domDocumentElement: domDocumentElement,
              astDocument: astDocument,
              astDocumentElement: astDocumentElement,
              elements: elements,
              textContent: textContent,
              analyzer: analyzer,
              source: content,
              url: url,
              filename: filename,
            };
          }.bind(this));

        }.bind(this));
      },

      /**
       * Sets the current source ID which we use to set the current selection.
       *
       * @param {string} sourceId The source ID of the element to select.
       * @returns {Promise<>} A promise that completes with the operation.
       */
      setSourceId(sourceId) {
        if (sourceId == null || this.client == null) {
          this.selection = null;
          return Promise.resolve();
        } else {
          return this.client.selectElementForSourceId(sourceId)
            .then(function(response) {
              let tagName = response.elementInfo.tagName;
              // TODO(justinfagnani): create class for selectino object
              this.selection = {
                elementInfo: response.elementInfo,
                bounds: response.bounds,
                // TODO(justinfagnani): add method for retrieving elements by id
                node: this.documentInfo.domDocument.querySelector(
                    `[${sourceIdAttribute}="${sourceId}"]`),
                analysisInfo: this._getAnalysisInfo(tagName),
              };
            }.bind(this));
        }
      },

      _getAnalysisInfo(tagName) {
        return this.documentInfo.analyzer.elementsByTagName[tagName];
      },

      _clientConnectionChanged() {
        if (this.clientConnection) {
          this.client = new DocumentClient(this.clientConnection);
          this.client.getDocument().then(function(response) {
            this._domNodes.set(response.id, this.documentInfo.domDocument);
          }.bind(this));
        } else {
          this.client = null;
        }
      },

      executeCommand(command) {
        this._domCommandApplier.apply(command);
        this._parsedCommandApplier.apply(command);
        this.set('documentInfo.textContent',
            dom5.serialize(this.documentInfo.astDocument));
        this.client.sendCommand(command).then(function(response) {
          this.fire('designer-document-update', response);
        }.bind(this));
      },

      get _frameScriptAsset() {
        return (document
            .createElement('dom-module')
            .import('designer-document', '#frame-script'));
      },

    });

    /**
     * @returns {Analyzer} a Hyrdolysis Analyzer (analysis) object that can be
     *     used to load and analyze an HTML document.
     */
    function createAnalyzer(url) {
      let loader = new hydrolysis.Loader({host: new URL(url).hostname});
      loader.addResolver(new hydrolysis.XHRResolver());
      return new hydrolysis.Analyzer(true, loader);
    }

    /**
     * @returns {ScriptElement} a new `<script>` element with the content of
     * [frameScript].
     */
    function createFrameScriptElement(frameScript, doc) {
      let frameScriptElement = doc.createElement('script');
      frameScriptElement.textContent = frameScript;
      frameScriptElement.setAttribute('designer-exclude', '');
      return frameScriptElement
    }

    /**
     * @returns a <base> tag with the given [href].
     */
    function createBase(href, doc) {
      let base = doc.createElement('base');
      base.setAttribute('href', href);
      base.setAttribute('designer-exclude', '');
      return base;
    }

    /**
     * @returns {HTMLDocument} a HTML document with the given [content].
     * A `<script>` tag with content from [framescript], and a `<base>` tag
     * with `href` set to [baseUri] are injected into the document's `<head>`.
     */
    function createDocument(content, frameScript, baseUri) {
      let doc = document.implementation.createHTMLDocument();
      doc.documentElement.innerHTML = content;

      let iterator = doc.createNodeIterator(doc, NodeFilter.SHOW_ELEMENT);
      let node;
      let nextId = 1;
      while(node = iterator.nextNode()) {
        node.setAttribute(sourceIdAttribute, nextId++);
      }

      doc.head.insertBefore(createFrameScriptElement(frameScript, doc),
          doc.head.firstChild);

      // data URIs need a base to be able to resolve relative URLs
      doc.head.insertBefore(createBase(baseUri, doc), doc.head.firstChild);
      return doc;
    }

  });
</script>
